
:root {
    --pdp-blue: #243571;
    --pdp-light-blue: #3286CE;
    --pdp-beige: #fdfddc;
    --pdp-white: #f1f1f6;
    --pdp-off-white: #F0EBCD;
}

#controls {
    padding: 0;
}
#controls > * > * {
    margin: 4px;
}

#control-header {
    background-color: var(--pdp-blue);
    color: var(--pdp-white);
    font-family: monospace;
    font-size: 32px;
    padding: 4px 24px;
    margin-left: 0;
    margin-right: 0;
}

#control-header span {
    display: inline-block;
    margin-top: -6px;
    margin-bottom: -6px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 38px;
    border-right: 4px solid white;
    border-left: 4px solid white;
}

#control-header span:not(:first-child) {
    border-left: none;
}

#control-secondary {
    background-color: var(--pdp-light-blue);
    color: var(--pdp-white);
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 4px 4px;
    margin-left: 0;
    margin-right: 0;
}

.px.d {
    background-color: #2a453b;
}
.px.m {
    background-color: #365d48;
}
.px.l {
    background-color: #577c44;
}
.px.w {
    background-color: #7f860f;
}

#control-buttons {
    text-align: right;
}

body {
    background-color: #c3c3c3;
}

main {
    display: grid;
    grid-template-columns: 450px 450px 1fr;
    grid-gap: 4px;
}

#left {
    grid-template-rows: auto auto minmax(0, 1fr);
    display: grid;
    grid-gap: 4px;
    height: 98vh;
    max-height: 98vh;
}

#center {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-gap: 4px;
    max-height: 98vh;
}

#right {
    grid-template-rows: 1fr;
    display: grid;
    grid-gap: 4px;
    max-height: 98vh;
}

.panel {
    border-radius: 4px;
    padding: 4px;
    background-color: var(--pdp-white);
    color: var(--pdp-blue);
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.panel > div {
    background-color: var(--pdp-white);
    color: black;
}

#editors {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 95%;
}

#memory {
    font-family: monospace;
    height: 90%;
    overflow-y: scroll;
}

#display {
    background-color: #c7c3c0;
    padding: 8px;
}

#display-wrapper {
    text-align: center;
    padding: 28px 8px;
    background-color: #918e93;
    border: 1px solid dimgray;
    border-radius: 8px 8px 32px 8px;
    box-shadow: inset rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

#display-wrapper img {
    border: 1px solid dimgray;
    border-radius: 2px;
}

#display-control-wrapper {
    padding: 12px;
    display: grid;
    width: 405px;
    grid-template-rows: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #c7c3c0;
}

#display-control-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction-cross {
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
}

.cross-button {
    background-color: #232426;
    background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 0px, transparent 2px);
    text-align: center;
    vertical-align: center
}

.cross-button.down {
    border-radius: 0 0 4px 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.right {
    border-radius: 0 4px 4px 0;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.left {
    border-radius: 4px 0 0 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.up {
    border-radius: 4px 4px 0 0;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.big-button {
    color: whitesmoke;
    background-color: #93335a;
    border: 1px solid dimgray;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.small-button {
    transform: rotate(-25deg) translateY(20px) translateX(-20px);
    margin: 2px;
    width:50px;
    background-color: #7e777b;
    border: 1px solid dimgray;
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: rgb(0, 0, 0, .2) 2px 2px 1px 1px;
}

.buff {
    background-color: cornflowerblue;
}

.code {
    background-color: darkseagreen;
}

.curr {
    background-color: #78e878;
}

.data {
    background-color: lightgoldenrodyellow;
}

.heap {
    background-color: lightcoral;
}

.sta {
    background-color: lightsalmon;
}

.memory {
    font-family: monospace;
}

#memory-header {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    overflow: auto;
    padding: 4px;
}

#memory-header button {
    float: right;
}

.blinken {
    display: inline-block;
    margin-right: 2px;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    padding: 3px;
}

.blinken.on {
    background-color: red;
}

.blinken.off {
    background-color: #5c0119;
}

.blinken.space {
    margin-right: 8px;
}

#register-table {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-family: monospace;
    background-color: black;
    color: var(--pdp-off-white);
}
#register-table td {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

.mem-highlight {
    box-shadow: inset 0 0 10px purple;
}

:root {
    --console-primary: #ffcc00;
    --console-primary-fringe: rgba(var(--console-primary), 110%);
    --console-background: #35291c;
}

#console-panel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 445px;
    overflow: hidden;
}

#console {
    width: 99%;
    background: var(--console-background);
    color: var(--console-primary);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
    margin: 0;
    padding: 8px;
    font-family: monospace;
    font-weight: bold;
}

#console-input {
    display: inline;
    outline: none;
    visibility: visible;
    caret: var(--console-primary) block;
    background-color: var(--console-background);
    font-family: monospace;
    font-weight: bold;
    color: var(--console-primary);
    border: none;
}

#console-history div {
    white-space: pre;
}