
:root {
    --pdp-blue: #243571;
    --pdp-light-blue: #3286ce;
    --pdp-beige: #fdfddc;
    --pdp-white: #f1f1f6;
    --pdp-off-white: #F0EBCD;
    --filetree-gray: #666;
}

html {
    overscroll-behavior: none;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

#controls {
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}

#controls > * > * {
    margin: 4px;
}

#control-header {
    background-color: var(--pdp-blue);
    color: var(--pdp-white);
    font-family: monospace;
    font-size: 32px;
    padding: 4px 24px;
    margin-left: 0;
    margin-right: 0;
}

#control-header span {
    display: inline-block;
    margin-top: -6px;
    margin-bottom: -6px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 38px;
    border-right: 4px solid white;
    border-left: 4px solid white;
}

#control-header span:not(:first-child) {
    border-left: none;
}

#control-secondary {
    background-color: var(--pdp-light-blue);
    color: var(--pdp-white);
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 4px 4px;
    margin-left: 0;
    margin-right: 0;
}

.px.d {
    background-color: #2a453b;
}

.px.m {
    background-color: #365d48;
}

.px.l {
    background-color: #577c44;
}

.px.w {
    background-color: #7f860f;
}

#control-buttons {
    text-align: right;
}

body {
    background-color: #c3c3c3;
}

main {
    display: grid;
    grid-template-columns: 450px 450px 1fr;
    grid-gap: 4px;
}

#left {
    grid-template-rows: auto auto minmax(0, 1fr);
    display: grid;
    grid-gap: 4px;
    height: 100dvh;
    max-height: 100dvh;
    min-width: 450px;
    max-width: 450px;
}

#center {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-gap: 4px;
    height: 100dvh;
    max-height: 100dvh;
    min-width: 450px;
    max-width: 450px;
}

#fs {
    max-width: calc(100dvw - 918px); /* 1 border and 4 padding on each size + 2x 4px gaps */
}

#fs, .site {
    background-color: var(--pdp-white);
    height: calc(100dvh - 10px);
    max-height: calc(100dvh - 10px);
}

#fs:has(.fullscreen) {
    padding: 0px !important;
}

.fullscreen {
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100dvw;
    min-width: 100dvw;
    max-width: 100dvw;
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    margin: 0px;
    padding: 0px;
    z-index: 101;
}

.file-explorer-body {
    overflow: auto;
    flex-grow: 1;
}

.panel {
    border-radius: 4px;
    padding: 4px;
    background-color: var(--pdp-white);
    color: var(--pdp-blue);
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.panel > div {
    background-color: var(--pdp-white);
    color: black;
}

/*#memory {
    font-family: monospace;
    height: 90%;
    overflow-y: scroll;
}*/

#display {
    background-color: #c7c3c0;
    padding: 8px;
    user-select: none;
    -webkit-user-select: none;
}

#display-wrapper {
    text-align: center;
    padding: 28px 8px;
    background-color: #918e93;
    border: 1px solid dimgray;
    border-radius: 8px 8px 32px 8px;
    box-shadow: inset rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

#display-wrapper img {
    border: 1px solid dimgray;
    border-radius: 2px;
}

#display-img {
    width: 340px;
}

#display-control-wrapper {
    padding: 12px;
    display: grid;
    width: 405px;
    grid-template-rows: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #c7c3c0;
}

#display-control-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction-cross {
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-rows: 25px 25px 25px;
    grid-template-columns: 25px 25px 25px;
}

.cross-button {
    background-color: #232426;
    background-image: repeating-linear-gradient(36deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 0px, transparent 2px);
    text-align: center;
    vertical-align: center
}

.cross-button.down {
    border-radius: 0 0 4px 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.down:active {
    transform: scaleY(0.95);
    transform-origin: top;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cross-button.right {
    border-radius: 0 4px 4px 0;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.right:active {
    transform: scaleX(0.95);
    transform-origin: left;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cross-button.left {
    border-radius: 4px 0 0 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.left:active {
    transform: scaleX(0.95);
    transform-origin: right;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cross-button.up {
    border-radius: 4px 4px 0 0;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.cross-button.up:active {
    transform: scaleY(0.95);
    transform-origin: bottom;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.big-button {
    color: whitesmoke;
    background-color: #93335a;
    border: 1px solid dimgray;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 4px;
    box-shadow: rgb(0, 0, 0, .2) 1px 1px 1px 1px;
}

.big-button.a:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.big-button.b:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.small-button {
    transform: rotate(-25deg) translateY(20px) translateX(-20px);
    margin: 2px;
    width: 50px;
    background-color: #7e777b;
    border: 1px solid dimgray;
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: rgb(0, 0, 0, .2) 2px 2px 1px 1px;
}

.small-button.select:active {
    transform: rotate(-25deg) translateY(20px) translateX(-20px) scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.small-button.start:active {
    transform: rotate(-25deg) translateY(20px) translateX(-20px) scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.buff {
    background-color: cornflowerblue;
}

.code {
    background-color: darkseagreen;
}

.curr {
    background-color: #78e878;
}

.data {
    background-color: lightgoldenrodyellow;
}

.heap {
    background-color: lightcoral;
}

.sta {
    background-color: lightsalmon;
}

.memory {
    font-family: monospace;
    overflow: auto;
}

.memory td {
    align-content: center;
    overflow: hidden;
}

#memory-panel {
    display: flex;
    flex-direction: column;
}

#memory-header {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    /*    overflow: auto;*/
    padding: 4px;
}

#memory-header button {
    float: right;
}

.blinken {
    display: inline-block;
    margin-right: 2px;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    padding: 3px;
}

.blinken.on {
    background-color: red;
}

.blinken.off {
    background-color: #5c0119;
}

.blinken.space {
    margin-right: 8px;
}

#register-table {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-family: monospace;
    background-color: black;
    color: var(--pdp-off-white);
}

#register-table td {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}


.mem-highlight {
    box-shadow: inset 0 0 10px purple;
}

.view-line:has(.step-highlight) {
    background-color: rgba(255, 100, 100, 0.3);
}

:root {
    --console-primary: #ffcc00;
    --console-primary-fringe: rgba(var(--console-primary), 110%);
    --console-background: #35291c;
}

#console-panel {
    display: flex;
    overflow: hidden;
    transform: translateX(0);
}

#console {
    background: var(--console-background);
    color: var(--console-primary);
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
    margin: 0;
    padding: 8px;
    font-family: monospace;
    font-weight: bold;
    flex-grow: 1;
    position: relative;
}

#console #expand-console {
    display: block;
    opacity: 0.2;
    position: fixed;
    right: 8px;
    top: 8px;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

#console #expand-console:hover {
    opacity: 1.0;
}

#console #contract-console {
    display: none;
}

.fullscreen #console {
    font-size: 24pt;
}

.fullscreen #console #expand-console {
    display: none;
}

.fullscreen #console #contract-console {
    display: block;
    opacity: 0.2;
    position: fixed;
    right: 16px;
    top: 16px;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

.fullscreen #console #contract-console:hover {
    opacity: 1.0;
}

#console-input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#console-input {
    outline: none;
    visibility: visible;
    caret: var(--console-primary) block;
    background-color: var(--console-background);
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
    color: var(--console-primary);
    border: none;
    /*width: 370px;*/
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.fullscreen #console-input {
    font-size: 24pt;
}

#console-history div {
    white-space: pre-wrap;
    min-height: calc(1lh - 2px);
}

ul {
    list-style: none;
    margin-top: 7px;
}

.li {
    list-style: none;
    padding-bottom: 2px;
}

#visual-shell {
    cursor: default;
}

.directory-details {
    display: block;
}

.directory-details > summary::before {
    /* TODO: this gotta be aligned with the bars too */
    /*display: inline-flex;*/
    /*width: 0.8em;*/
    /*height: 0.8em;*/
    /*aspect-ratio: 1 / 1;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    font-family: monospace;
    font-weight: bolder;
    font-size: 1em;
    color: var(--filetree-gray);

    /*padding: 0;*/
    /*line-height: 1;*/
    /*border: 2px solid var(--filetree-gray);*/

    user-select: none;
    -webkit-user-select: none;

    content: "+";
}

.directory-details[open] > summary::before {
    content: "-";
}

.directory-details[disabled] > summary::before {
    opacity: 0;
}

/* Hide the summary arrow */
.directory-details > summary {
    list-style: none;
}

.directory-details > summary::-webkit-details-marker {
    display: none;
}

.directory-content {
    margin-left: 1.5em;
    padding-left: 0.5em;
    border-left: 1px solid var(--filetree-gray);
}

.site {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.heading-bar {
    width: 100%;

    color: white;
    background-color: #243571;
    display: flex;
    justify-content: start;
    align-items: center;

}

.file-system-nav-bar {
    background-color: #3286ce;
    padding: 4px;
    text-align: right;
}

.file-system-nav-bar.editor-buttons {
    display: flex;
    align-items: center;
}

.file-system-nav-bar.editor-buttons .divider {
    display: inline-block;
    border: 1px inset #3286ce;
    height: 0.8lh;
}

.file-system-nav-bar.editor-buttons .title {
    color: white;
    display: inline-block;
    font-family: sans-serif;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-top: 2px;
    white-space: nowrap;
    vertical-align: top;
}

.file-system-nav-bar.editor-buttons #editor-save[disabled] {
    filter: brightness(75%);
}

.file-system-nav-bar .buttons-left {
    max-width: calc(100% - 74px);
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
}

.file-system-nav-bar .buttons-right {
    width: 74px;
    max-width: 74px;
    text-align: right;
    white-space: nowrap;
}

#contract {
    display: none;
}

#expand {
    display: inline;
}

.fullscreen #contract {
    display: inline;
}

.fullscreen #expand {
    display: none;
}

.file-system-nav-bar button {
    background-color: #3286ce;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}

.file-system-nav-bar button:hover {
    border: 1px outset #3286ce;
}

.file-system-nav-bar button:active {
    border: 1px inset #3286ce;
}

.tray {
    color: white;
    font-family: sans-serif;
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    text-align: left;
}

.nav-button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 3px;
    text-decoration: none;
}

.file-system-nav-bar button.nav-button {
    background-color: #3286ce;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    padding: 2px 6px;
}

.file-system-nav-bar button.nav-button .label {
    display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 2px;
    padding-right: 4px;
}

.file-system-nav-bar button.nav-button:hover {
    border: 1px outset #3286ce;
}

.file-system-nav-bar button.nav-button:active {
    border: 1px inset #3286ce;
}

.new-file {
    padding: 1rem;
}

.new-file .label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.new-file select, .new-file input {
    width: 80%;
    font-size: 16px;
}

.save-cancel-buttons {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
    margin-top: 2rem;
}

#cd-search {
    width: calc(100% - 8px);
}

.directory-name {
    padding: 3px;
    position: relative;
    bottom: 0;
    cursor: pointer;
}

#search-folder-icon {
    position: relative;
    height: 18px;
    width: 18px;
    padding-top: 1.25px;
    padding-left: 2px;
    margin: 2px;
}

.directory-icon {
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 0.5em;
    top: 3px;
}

.blank-sheet-icon {
    position: relative;
    height: 18px;
    width: 18px;
    margin-right: 0.35em;
}

.file-entry {
    margin-top: 1px;
    cursor: pointer;
}

.file-listing {
    margin-top: 1px;
}

.content {
    transition: max-height 0.2s ease-out;
}

.site {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.site #editors {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2px;
    min-height: calc(100dvh - 44px);
    height: calc(100dvh - 44px);
    max-height: calc(100dvh - 44px);
}

.site #editor, .site #assembly {
    flex-basis: 50% 50%;
    flex-grow: 1;
    font-family: monospace;
    resize: none;
    border: 0px;
    min-height: calc(50% - 2px);
    height: calc(50% - 2px);
    max-height: calc(50% - 2px);
}

.site #assembly.hidden {
    display: none;
}

.site #editors:has(#assembly.hidden) #editor {
    flex-basis: 100%;
    min-height: calc(100% - 0px);
    height: calc(100% - 0px);
    max-height: calc(100% - 0px);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {

    html {
        overflow: hidden;
    }

    body {
        min-width: 100dvw;
        width: 100dvw;
        max-width: 100dvw;
        height: 100dvh;
        max-height: 100dvh;
        overflow: hidden;
    }

    main {
        grid-template-columns: 100dvw 100dvw 100dvw;
        grid-gap: 0px;
        overflow: auto;
        overscroll-behavior: none;
        scroll-snap-type: x mandatory;
        width: 100dvw;
        height: 100dvh;
        touch-action: manipulation;
    }

    #left, #center {
        min-width: 100dvw;
        width: 100dvw;
        max-width: 100dvw;
        min-height: 100dvh;
        height: 100dvh;
        max-height: 100dvh;
        scroll-snap-align: center;
    }

    #fs {
        min-width: calc(100dvw - 10px);
        width: calc(100dvw - 10px);
        max-width: calc(100dvw - 10px);
        min-height: calc(100dvh - 10px);
        height: calc(100dvh - 10px);
        max-height: calc(100dvh - 10px);
        overflow: hidden;
        scroll-snap-align: center;
    }

    #display {
        border: 0;
        padding: 0;
    }

    #expand, #contract {
        display: none;
    }

    .fullscreen #console, .fullscreen #console-input {
        font-size: unset;
    }

    .fullscreen #console #contract-console {
        width: 16px;
        height: 16px;
        top: 8px;
        right: 8px;
    }

    .file-system-nav-bar.editor-buttons .title {
        padding-top: 0px;
    }
}