
:root {
    --pdp-blue: #243571;
    --pdp-light-blue: #3286CE;
    --pdp-white: #f1f1f6;
    --pdp-off-white: #F0EBCD;
}

body {
    background-color: var(--pdp-white);
}

main {
    display: grid;
    grid-template-columns: 455px 538px 1fr;
    grid-gap: 4px;
}

#left {
    grid-template-rows: auto auto minmax(0, 1fr);
    display: grid;
    grid-gap: 2px;
    height: 98vh;
}

#center {
    display: grid;
    grid-template-rows: 555px auto;
    grid-gap: 2px;
    max-height: 100vh;
}

#right {
    grid-template-rows: auto 1fr;
    display: grid;
    grid-gap: 2px;
    max-height: 100vh;
}

.panel {
    border-radius: 4px;
    padding: 4px;
    background-color: var(--pdp-light-blue);
    color: white;
}

.panel > div {
    background-color: var(--pdp-white);
    color: black;
    padding: 4px;
}

#editors {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: 100vh;
}

#memory {
    font-family: monospace;
    height: 90%;
    overflow-y: scroll;
}

.display {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    border: 1px solid red;
    width: 512px;
    aspect-ratio: 1;
}

.memory {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid antiquewhite;
}

.frameBuffer {
    background-color: cornflowerblue;
}

.memory {
    font-family: monospace;
}

.blinken {
    display: inline-block;
    margin-right: 2px;
    height: 8px;
    width: 8px;
    border-radius: 8px;
    padding: 4px;
}

.blinken.on {
    background-color: red;
}

.blinken.off {
    background-color: #5c0119;
}

.blinken.space {
    margin-right: 8px;
}

#register-table {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-family: monospace;
    background-color: black;
    color: var(--pdp-off-white);
}
#register-table td {
    text-align: right;
}