<div id="console-panel" class="panel">
    <div id="console">
        <img id="expand-console" src="/img/expand.svg" width="16" height="16" onmouseup="fullscreen('console-panel', event); return false;" alt="Fullscreen">
        <img id="contract-console" src="/img/contract.svg" width="32" height="32" onmouseup="restore('console-panel', event); return false;" alt="Restore">
        <div id="console-history">
            Welcome to MtOS! Type ? for help <br/><br/>
        </div>
        <div id="console-partial"></div>
        <div id="console-input-wrapper">
            <span id="console-prompt">mtmc$</span>
            <input id="console-input" inputmode="search" autocorrect="off">
        </div>
    </div>
</div>
