<style>
    :root {
        --console-primary: #ffcc00;
        --console-primary-fringe: rgba(var(--console-primary), 110%);
        --console-background: #35291c;
    }

    @font-face {
        font-family: "glass";
        src: url('/fonts/Glass_TTY_VT220.ttf');
    }

    #console-panel {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 445px;
        overflow: hidden;
    }

    #console {
        width: 510px;
        background: var(--console-background);
        color: var(--console-primary);
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;
        word-break: break-all;
        margin: 0;
        padding: 8px;
        font-family: glass, monospace;
        font-weight: bold;
    }

    #console-input {
        display: inline;
        outline: none;
        visibility: visible;
        caret-color: transparent;
    }

    #console-history div {
        white-space: pre;
    }

    /*
      If you press the Insert key, the vertical line caret will automatically
      be replaced by a one-character selection.
    */
    #console-input::selection {
        color: #000;
        background: var(--console-primary);
    }

    #console-input:empty::before {
        content: ' ';
    }

    @keyframes blink {
        to {
            visibility: hidden;
        }
    }

    #console-input + #console-caret {
        animation: blink 1s steps(5, start) infinite;
    }

    #console-caret {
        border: 0;
        padding: 0;
        outline: none;
        background-color: var(--console-primary);
        display: inline-block;
        font-family: monospace;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const history = document.getElementById('console-history');
        const input = document.getElementById('console-input');
        const inputWrapper = document.getElementById('console-input-wrapper');

        sseSource.addEventListener("console-output", (e) => {
            e.data.split("\n").forEach((txt)=>{
                const line = document.createElement('DIV');
                line.textContent = txt;
                history.appendChild(line);
            })
        })
        sseSource.addEventListener("console-ready", (e) => {
            inputWrapper.style.display = 'block';
            inputWrapper.scrollIntoView()
        })

        function focusAndMoveCursorToTheEnd(e) {
            input.focus();
            const range = document.createRange();
            const selection = window.getSelection();
            const {childNodes} = input;
            const lastChildNode = childNodes && childNodes.length - 1;
            range.selectNodeContents(lastChildNode === -1 ? input : childNodes[lastChildNode]);
            range.collapse(false);
            selection.removeAllRanges();
            selection.addRange(range);
        }

        function handleCommand(command) {
            const line = document.createElement('DIV');
            line.textContent = `mtmc > ${command}`;
            history.appendChild(line);
            inputWrapper.style.display = 'none';
            fetch("/cmd", {method:'POST', body:JSON.stringify({'cmd' : command})})
        }

        // Every time the selection changes, add or remove the .noCursor
        // class to show or hide, respectively, the bug square cursor.
        // Note this function could also be used to enforce showing always
        // a big square cursor by always selecting 1 chracter from the current
        // cursor position, unless it's already at the end, in which case the
        // #cursor element should be displayed instead.
        document.addEventListener('selectionchange', () => {
            if (document.activeElement.id !== 'input') return;
            const range = window.getSelection().getRangeAt(0);
            const end = range.endOffset;
            const length = input.textContent.length;
            if (end < length) {
                input.classList.add('noCaret');
            } else {
                input.classList.remove('noCaret');
            }
        });

        input.addEventListener('input', () => {
            if (input.childElementCount > 0) {
                const lines = input.innerText.replace(/\n$/, '').split('\n');
                const lastLine = lines[lines.length - 1];
                input.textContent = lastLine;
                focusAndMoveCursorToTheEnd();
            }

            // If we delete everything, display the square caret again:
            if (input.innerText.length === 0) {
                input.classList.remove('noCaret');
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.target !== input) focusAndMoveCursorToTheEnd();
        });

        input.addEventListener('keydown', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault();
                handleCommand(input.textContent);
                input.textContent = '';
                focusAndMoveCursorToTheEnd();
            }
        });

// Set the focus to the input so that you can start typing straight away:
        input.focus();
    })
</script>
<div id="console-panel" class="panel">
    <div id="console">
        <div id="console-history">
            Welcome to MtOS! Type ? for help <br/><br/>
        </div>
        <div id="console-input-wrapper">
            mtmc >
            <div id="console-input" contenteditable="true"></div><button id="console-caret" for="input">&nbsp;</button>
        </div>
    </div>
</div>