<div class="panel" id="controls">
    <div>
        <div id="control-header">
            <span>m</span><span>s</span><span>u</span> &nbsp;<i>MTMC-16</i>
        </div>
        <div id="control-secondary">
            MonTana Mini-Computer
        </div>
        <div id="control-buttons">
            <label>
                <select style="font-family: monospace;background-color: black;color: #ffcc00" name="speed" fx-action="/speed" fx-method="post" fx-swap='outerHTML' fx-target='#controls'>
                    <option value="1" {% if computer.speed == 1 %}selected{% endif %}>1 Hz</option>
                    <option value="10" {% if computer.speed == 10 %}selected{% endif %}>10 Hz</option>
                    <option value="100" {% if computer.speed == 100 %}selected{% endif %}>100 Hz</option>
                    <option value="1000" {% if computer.speed == 1000 %}selected{% endif %}>1 Khz</option>
                    {% if computer.speed == 10000 %}
                    <option value="10000" selected>10 Khz</option>
                    {% endif %}
                    {% if computer.speed == 100000 %}
                    <option value="100000" selected>100 Khz</option>
                    {% endif %}
                    <option value="1000000" {% if computer.speed == 1000000 %}selected{% endif %}>1 Mhz</option>
                    {% if computer.speed == 0 %}
                    <option value="0" selected>Max</option>
                    {% endif %}
                </select>
            </label>
            {% if not computer.executing %}
            <button fx-action="/control/run" fx-method="post" fx-swap="none">
                run
            </button>
            <button fx-action="/control/back" fx-method="post" fx-swap='outerHTML' fx-target='#controls'
                    {% if not computer.backAvailable %} disabled="disabled" {% endif %}>
                back
            </button>
            <button fx-action="/control/step" fx-method="post" fx-swap='outerHTML' fx-target='#controls'>
                step
            </button>
            {% else %}
            <button fx-action="/control/pause" fx-method="post" fx-swap='outerHTML' fx-target='#controls'>
                pause
            </button>
            <button fx-action="/control/back" fx-method="post" fx-swap="none" disabled="disabled">
                back
            </button>
            <button fx-action="/control/step" fx-method="post" fx-swap="none" disabled="disabled">
                step
            </button>
            {% endif %}
            <button fx-action="/control/reset" fx-method="post" fx-swap='outerHTML' fx-target='#controls'>
                reset
            </button>
        </div>
    </div>
</div>

