
<div class="panel" id="display">
    <div id="display-wrapper">
        <img id="display-img" src="/display" alt="the display" width="340">
    </div>
    <div id="display-control-wrapper">
        <div>
            <div id="direction-cross">
                <div></div>
                <div class="cross-button up"></div>
                <div></div>
                <div class="cross-button left"></div>
                <div class="cross-button"></div>
                <div class="cross-button right"></div>
                <div></div>
                <div class="cross-button down"></div>
                <div></div>
            </div>
        </div>
        <div>
            <button class="small-button">select</button>
            <button class="small-button">start</button>
        </div>
        <div>
            <button class="big-button">B</button>
            <button class="big-button">A</button>
        </div>
    </div>
</div>
