{% macro render_listing(listing) %}

    <li class="file-explorer">
        <a
                class="directory-entry"
                fx-swap="outerHTML"
                fx-target="#visual-shell"
                fx-action="/fs/toggle/{{ listing.path }}"
        >
            {% if listing.name == "disk" %} <img class="folder-icon" src="/img/disk-icon">/ {% else %} <img class="folder-icon" src="/img/single-folder-icon.ico">{{ listing.name }} {% endif %}</a>
        <ul>
            {% for subdir in listing.subdirectories %}
                <li>
                    {{ render_listing(subdir.value) }}
                </li>
            {% endfor %}
            {% for file in listing.listOfFiles %}
                <li class="file-listing">
                    <img class="blank-sheet-icon" src="/img/blank-sheet.ico">
                    <a
                            class="file-entry"
                            fx-swap="outerHTML"
                            fx-target="#visual-shell"
                            fx-action="/fs/open/{{ listing.path + "/" + file.getName() }}"
                    >{{ file.getName() }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endmacro %}

<div id="visual-shell" class="panel">
    {% if computer.currentFileContent != null %}
        <div>
            <button fx-swap='outerHTML' fx-target='#visual-shell' fx-action='/fs/close/'>close</button>
            <textarea id='editor'> {{ computer.currentFileContent }} </textarea>
        </div>
    {% else %}
        <div class="site">
            <div class="heading-bar">Icon: Exploring - {{ computer.getFileSystem().getCWD() }}</div>

            <header class="file-system-nav-bar">
                <ul class="tray">
                    <li class="nav-button">File</li>
                    <li class="nav-button">Edit</li>
                    <li class="nav-button">View</li>
                    <li class="nav-button">Tools</li>
                    <li class="nav-button">Help</li>
                </ul>
            </header>
            <form fx-method="POST" fx-action="/fs/cwd/" fx-swap="outerHTML"
                  fx-target="#visual-shell">
                <input id="cd-search" name="cwd" placeholder="Current Directory" type="text" autocomplete="off"
                       value="{{ computer.getFileSystem().getCWD() }}">

            </form>
            <body class="file-explorer-body">
            {{ render_listing(computer.getFileSystem().listCWD()) }}
            </body>
        </div>
    {% endif %}
</div>