{% macro render_listing(listing) %}

    <li class="file-explorer">

        <a
                class="directory-entry"
                fx-swap="outerHTML"
                fx-target="#visual-shell"
                fx-action="/fs/toggle/{{ listing.path }}"
        >
            {% if listing.name == "disk" %} <img class="folder-icon" src="/img/disk-icon.ico">/ {% else %}
                <img class="folder-icon" src="/img/single-folder-icon.ico">{{ listing.name }} {% endif %}</a>
        <button type="button" class="collapsible">+</button>
        <div class="content" style="display: none">
            <ul>
                {% for subdir in listing.subdirectories %}
                    <li>
                        {{ render_listing(subdir.value) }}
                    </li>
                {% endfor %}
                {% for file in listing.listOfFiles %}
                    <li>
                        <img class="blank-sheet-icon" src="/img/blank-sheet.ico">
                        <a
                                class="file-entry"
                                fx-swap="outerHTML"
                                fx-target="#visual-shell"
                                fx-action="/fs/open/{{ listing.path + "/" + file.getName() }}"
                        >{{ file.getName() }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endmacro %}

<div id="visual-shell" class="panel">
    {% if computer.currentFileContent != null %}
        <div>
            <button fx-swap='outerHTML' fx-target='#visual-shell' fx-action='/fs/close/'>close</button>
            <textarea id='editor'> {{ computer.currentFileContent }} </textarea>
        </div>
    {% else %}
        <div class="site">
            <div class="heading-bar">
                <img id="search-folder-icon" src="/img/search-folder-icon.ico">
                <span> Exploring - {{ computer.getFileSystem().getCWD() }}</span>
            </div>

            <header class="file-system-nav-bar">
                <ul class="tray">
                    <li class="nav-button">File</li>
                    <li class="nav-button">Edit</li>
                    <li class="nav-button">View</li>
                    <li class="nav-button">Tools</li>
                    <li class="nav-button">Help</li>
                </ul>
            </header>
            <form fx-method="POST" fx-action="/fs/cwd/" fx-swap="outerHTML"
                  fx-target="#visual-shell">
                <input id="cd-search" name="cwd" placeholder="Current Directory" type="text" autocomplete="off"
                       value="{{ computer.getFileSystem().getCWD() }}">

            </form>
            <body class="file-explorer-body">
            {{ render_listing(computer.getFileSystem().listCWD()) }}
            </body>
        </div>
    {% endif %}
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            var content = this.nextElementSibling;
            if (content && content.classList.contains("content")) {
                content.style.display = (content.style.display === "block") ? "none" : "block";
            }
            {#if (content.style.display === "block") {
                content.style.display = "none";
            }#} else {
                content.style.display = "block";
            }
        });
    }
</script>