<div class="panel" id="register-panel">
    <div>
        <table id="register-table" style="table-layout: fixed;">
            <colgroup>
                <col span="1" style="width: 10px;">
                <col span="1" style="width: 325px;">
                <col span="1" style="width: 80px;">
            </colgroup>
            <tr>
                <th>reg</th>
                <th></th>
                <th>
                    <button fx-action="/registerFormat"
                            fx-method="post"
                            fx-swap="none">
                        {{computer.getRegisterFormat()}}
                    </button>
                </th>
            </tr>
            <tr>
                <td>t0</td>
                <td>{{computer.regBlinken('T0') | raw}}</td>
                <td>{{computer.regDisplay('T0')}}</td>
            </tr>
            <tr>
                <td>t1</td>
                <td>{{computer.regBlinken('T1') | raw}}</td>
                <td>{{computer.regDisplay('T1')}}</td>
            </tr>
            <tr>
                <td>t2</td>
                <td>{{computer.regBlinken('T2') | raw}}</td>
                <td>{{computer.regDisplay('T2')}}</td>
            </tr>
            <tr>
                <td>t3</td>
                <td>{{computer.regBlinken('T3') | raw}}</td>
                <td>{{computer.regDisplay('T3')}}</td>
            </tr>
            <tr>
                <td>a0</td>
                <td>{{computer.regBlinken('A0') | raw}}</td>
                <td>{{computer.regDisplay('A0')}}</td>
            </tr>
            <tr>
                <td>a1</td>
                <td>{{computer.regBlinken('A1') | raw}}</td>
                <td>{{computer.regDisplay('A1')}}</td>
            </tr>
            <tr>
                <td>a2</td>
                <td>{{computer.regBlinken('A2') | raw}}</td>
                <td>{{computer.regDisplay('A2')}}</td>
            </tr>
            <tr>
                <td>a3</td>
                <td>{{computer.regBlinken('A3') | raw}}</td>
                <td>{{computer.regDisplay('A3')}}</td>
            </tr>
            <tr>
                <td>rv</td>
                <td>{{computer.regBlinken('RV') | raw}}</td>
                <td>{{computer.regDisplay('RV')}}</td>
            </tr>
            <tr>
                <td>ra</td>
                <td>{{computer.regBlinken('RA') | raw}}</td>
                <td>{{computer.regDisplay('RA')}}</td>
            </tr>
            <tr>
                <td>fp</td>
                <td>{{computer.regBlinken('FP') | raw}}</td>
                <td>{{computer.regDisplay('FP')}}</td>
            </tr>
            <tr>
                <td>sp</td>
                <td>{{computer.regBlinken('SP') | raw}}</td>
                <td>{{computer.regDisplay('SP')}}</td>
            </tr>
            <tr>
                <td>bp</td>
                <td>{{computer.regBlinken('BP') | raw}}</td>
                <td>{{computer.regDisplay('BP')}}</td>
            </tr>
            <tr>
                <td>pc</td>
                <td>{{computer.regBlinken('PC') | raw}}</td>
                <td>{{computer.regDisplay('PC')}}</td>
            </tr>
            <tr>
                <td>ir</td>
                <td>{{computer.regBlinken('IR') | raw}}</td>
                <td>{{computer.regDisplay('IR')}}</td>
            </tr>
            <tr>
                <td>io</td>
                <td>{{computer.regBlinken('IO') | raw}}</td>
                <td>{{computer.regDisplay('IO')}}</td>
            </tr>
        </table>
    </div>
</div>