<div class="panel" id="register-panel">
    <div>
        <table id="register-table" style="table-layout: fixed;">
            <colgroup>
                <col span="1" style="width: 20px;">
                <col span="1" style="width: 200px;">
                <col span="1" style="width: 80px;">
            </colgroup>
            <tr>
                <td>t0</td>
                <td>{{computer.regBlinken('T0') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T0')}}</td>
            </tr>
            <tr>
                <td>t1</td>
                <td>{{computer.regBlinken('T1') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T1')}}</td>
            </tr>
            <tr>
                <td>t2</td>
                <td>{{computer.regBlinken('T2') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T2')}}</td>
            </tr>
            <tr>
                <td>t3</td>
                <td>{{computer.regBlinken('T3') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T3')}}</td>
            </tr>
            <tr>
                <td>t4</td>
                <td>{{computer.regBlinken('T4') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T4')}}</td>
            </tr>
            <tr>
                <td>t5</td>
                <td>{{computer.regBlinken('T5') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('T5')}}</td>
            </tr>
            <tr>
                <td>a0</td>
                <td>{{computer.regBlinken('A0') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('A0')}}</td>
            </tr>
            <tr>
                <td>a1</td>
                <td>{{computer.regBlinken('A1') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('A1')}}</td>
            </tr>
            <tr>
                <td>a2</td>
                <td>{{computer.regBlinken('A2') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('A2')}}</td>
            </tr>
            <tr>
                <td>a3</td>
                <td>{{computer.regBlinken('A3') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('A3')}}</td>
            </tr>
            <tr>
                <td>rv</td>
                <td>{{computer.regBlinken('RV') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('RV')}}</td>
            </tr>
            <tr>
                <td>ra</td>
                <td>{{computer.regBlinken('RA') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('RA')}}</td>
            </tr>
            <tr>
                <td>fp</td>
                <td>{{computer.regBlinken('FP') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('FP')}}</td>
            </tr>
            <tr>
                <td>sp</td>
                <td>{{computer.regBlinken('SP') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('SP')}}</td>
            </tr>
            <tr>
                <td>bp</td>
                <td>{{computer.regBlinken('BP') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('BP')}}</td>
            </tr>
            <tr>
                <td>pc</td>
                <td>{{computer.regBlinken('PC') | raw}}</td>
                <td class="reg-value">{{computer.regDisplay('PC')}}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>ir</td>
                <td>{{computer.regBlinken('IR') | raw}}</td>
                <td>{{computer.regDisplay('IR')}}</td>
            </tr>
            <tr>
                <td>dr</td>
                <td>{{computer.regBlinken('DR') | raw}}</td>
                <td>{{computer.regDisplay('DR')}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">
                    flags {{computer.flagsBlinken() | raw}}
                </td>
            </tr>
        </table>
    </div>
</div>