<div class="panel">
    Registers
    <div>
        <table id="register-table">
            <tr>
                <th>reg</th>
                <th></th>
                <th>hex</th>
            </tr>
            <tr>
                <td>t0</td>
                <td>{{computer.regBlinken('T0') | raw}}</td>
                <td>{{computer.regHex('T0')}}</td>
            </tr>
            <tr>
                <td>t1</td>
                <td>{{computer.regBlinken('T1') | raw}}</td>
                <td>{{computer.regHex('T1')}}</td>
            </tr>
            <tr>
                <td>t2</td>
                <td>{{computer.regBlinken('T2') | raw}}</td>
                <td>{{computer.regHex('T2')}}</td>
            </tr>
            <tr>
                <td>t3</td>
                <td>{{computer.regBlinken('T3') | raw}}</td>
                <td>{{computer.regHex('T3')}}</td>
            </tr>
            <tr>
                <td>a0</td>
                <td>{{computer.regBlinken('A0') | raw}}</td>
                <td>{{computer.regHex('A0')}}</td>
            </tr>
            <tr>
                <td>a1</td>
                <td>{{computer.regBlinken('A1') | raw}}</td>
                <td>{{computer.regHex('A1')}}</td>
            </tr>
            <tr>
                <td>a2</td>
                <td>{{computer.regBlinken('A2') | raw}}</td>
                <td>{{computer.regHex('A2')}}</td>
            </tr>
            <tr>
                <td>a3</td>
                <td>{{computer.regBlinken('A3') | raw}}</td>
                <td>{{computer.regHex('A3')}}</td>
            </tr>
            <tr>
                <td>r0</td>
                <td>{{computer.regBlinken('R0') | raw}}</td>
                <td>{{computer.regHex('R0')}}</td>
            </tr>
            <tr>
                <td>ra</td>
                <td>{{computer.regBlinken('RA') | raw}}</td>
                <td>{{computer.regHex('RA')}}</td>
            </tr>
            <tr>
                <td>fp</td>
                <td>{{computer.regBlinken('FP') | raw}}</td>
                <td>{{computer.regHex('FP')}}</td>
            </tr>
            <tr>
                <td>sp</td>
                <td>{{computer.regBlinken('SP') | raw}}</td>
                <td>{{computer.regHex('SP')}}</td>
            </tr>
            <tr>
                <td>bp</td>
                <td>{{computer.regBlinken('BP') | raw}}</td>
                <td>{{computer.regHex('BP')}}</td>
            </tr>
            <tr>
                <td>pc</td>
                <td>{{computer.regBlinken('PC') | raw}}</td>
                <td>{{computer.regHex('PC')}}</td>
            </tr>
            <tr>
                <td>ir</td>
                <td>{{computer.regBlinken('IR') | raw}}</td>
                <td>{{computer.regHex('IR')}}</td>
            </tr>
        </table>
    </div>
</div>