<div class="site" id="visual-shell">
    <div class="file-system-nav-bar editor-buttons">
        <div class="buttons-left">
            <button><img src="/img/floppy-disk-solid.svg" width="16" height="16" alt="Save"></button>
            <button id="expand" onclick="fullscreen('visual-shell');"><img src="/img/expand.svg" width="16" height="16" alt="Fullscreen"></button>
            <button id="contract" onclick="restore('visual-shell');"><img src="/img/contract.svg" width="16" height="16" alt="Restore"></button>
        </div>
        <div class="buttons-right">
            <button fx-swap='outerHTML' fx-target='#visual-shell' fx-action='/fs/close/'><img src="/img/xmark.svg" width="16" height="16" alt="Close"></button>
        </div>
    </div>
    <div id="editor" data-filename="{{computer.currentFilename}}" data-mime="{{computer.currentFileMime}}"></div>
</div>