<div class="site" id="visual-shell">
    <div class="file-system-nav-bar editor-buttons">
        <div class="buttons-left">
            <div class="title">{{computer.currentFilename}}</div>
        </div>
        <div class="buttons-right">
            <button fx-swap='outerHTML' fx-target='#visual-shell' fx-action='/fs/close/'><img src="/img/xmark.svg" width="16" height="16" alt="Close"></button>
        </div>
    </div>
    <div style="align-content: center; text-align: center; flex: 1;">No editor available for this file</div>
</div>